#myScrollBtn {
  display: none;
  position: fixed;
  background-color: black;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  bottom: 50px;
  right: 50px;
  z-index: 2;
}
